<style>
    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    button {
        background-color: white;
        border: 1px solid #555;
        margin: 0 4px 4px 0;
        padding: 6px 10px;
    }

    .active {
        text-decoration: underline;
        border-width: 2px;
        padding: 5px 9px;
    }
</style>

<p>
    <b>Items</b>
    <br>
    <span>Click to select/deselect</span>
</p>

<div class="wrap-panel">
    <button *ngFor="let item of items; let i = index;" [class.active]="item.isSelected" (click)="toggle(item)">{{item.label}}</button>
</div>

<p>
    <b>Selected items</b>
    <br>
    <span>Click to unselect, drag to sort</span>
</p>

<div class="wrap-panel" [sortablejs]="selectedItems" [sortablejsOptions]="selectedItemsOptions">
    <button *ngFor="let item of selectedItems; let i = index;" [class.active]="item.isSelected" (click)="remove(item)">{{i + 1}}° {{item.label}}</button>
</div>

<p>
    <b>Issue</b>
    <br>
    <span>
        <ol>
            <li>
                <span>Do one of these 2 things</span>
                <ul>
                    <li>Drag any selected item (<i>not the last</i>) to the last position</li>
                    <li>Drag the last item to another position, then place it back at the end</li>
                </ul>
            </li>
            <li>Remove any item from the selected items list (by clicking it in any list)</li>
            <li>Add any item to the selected items list</li>
            <li>Notice the selected items order went mad: numering reflects array indices, but items are shown in the wrong order</li>
        </ol>
    </span>
</p>

<p>
    <b>Example test</b>
    <br>
    <span>
        <ol>
            <li>From the second list, drag <u>banana</u> (which is first) to the end of the list</li>
            <li>Remove <u>banana</u> from selected items by clicking it on any list</li>
            <li>Select <u>banana</u> again by clicking it in the first list</li>
            <li>Notice the problem</li>
        </ol>
    </span>
</p>